@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    background-color: rgb(173, 66, 66);
}

#landing, .nav-content {
    height: 100vh;
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: column;

    margin: 0;
    font-family: "Karla", sans-serif;
    font-size: 20px;
}

#about, #projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: min-content;
}

section {
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: column;
    flex: 1 0;
    flex-wrap: wrap;

    margin: 0;
    font-family: "Karla", sans-serif;
    font-size: 20px;
}

.image {
    content: '';
    display: flex;
    background-image: url(../img/desk.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#res_pic {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    font-size: 100px; 
    color: antiquewhite;
    font-weight: bold;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 80%;
    height: 1px;
    background-color: black;
}

@media screen and (max-width: 1200px) {
    #about, #projects {
        flex-direction: column;
    }
    .image {
        background-size: 100%;
    }
}
