@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

.main {
    margin-left: 425px;
    padding: 0px 10px;
    font-size: 50px;
    font-family: "Karla", sans-serif;
    transition:0.5s;
}

#projects {
    font-size: 25px;
}

#projects img {
    max-width: 50px;
    max-height: 50px;
}


#projects  a {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

#projects  a:hover {
    text-decoration: none;
    color: rgb(196, 188, 188);
}
