:root {
  --color-text: black;
  --color-background: white;
  --color-outline: var(--color-text);
  --color-link: #585858;
  --color-link-active: rgb(165, 165, 165);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: rgb(243, 243, 243);
    --color-background: rgb(31, 31, 31);
    --color-link: rgb(194, 194, 194);
    --color-link-active: rgb(229, 229, 229);
  }
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  color: var(--color-link);
}

a:hover,
a:focus,
a:active {
  color: var(--color-link-active);
  cursor: pointer;
}

p {
  font-size: 1.1rem;
  margin-block-start: 0.5em;
  margin-block-end: 0.5rem;
}

.grid {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;

  max-width: 1000px;
  margin: auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem 1.5rem;
}

.grid figure {
  box-sizing: content-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.grid a p {
  font-weight: 600;
  font-size: 1.3rem;
}

.grid figcaption {
  font-size: 1rem;
  max-width: 450px;
}

.grid img,
.grid video {
  display: block;
  width: 100%;
  height: 350px;
  outline: 2px solid var(--color-outline);
  outline-offset: -1px;
  object-fit: cover;
  object-position: center;
}

@supports (aspect-ratio: 1440 / 710) {
  .grid img,
  .grid video {
    height: unset;
    aspect-ratio: 1440/710;
  }
}
