:root {
    --nav-padding: 0.5rem;
    --nav-height: 5vh;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: small;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
}

#top-nav {
    top: 0;
    justify-content: space-between;
}

#bottom-nav {
    bottom: 0;
    justify-content: space-around;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    padding: var(--nav-padding) 1.25rem;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid gray;
    box-shadow: 0px 2px 5px gray;
    background-color: white;
    height: var(--nav-height);
}

#top-nav header {
    font-size: 2rem;
    font-weight: bold;
}

#top-nav div span {
    font-size: 1rem;
    margin-right: 0.75rem;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 1.15rem;
    margin-block-start: 0.5em;
    margin-block-end: 0.5rem;
}

a:hover {
    color: rgb(107, 107, 107);
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    box-sizing: border-box;
    padding: 0rem 1.25rem;
    max-width: 900px;
}

.division-wrapper {
    width: 250px;
    padding: calc(0.5 * var(--nav-height) + 2 * var(--nav-padding)) 0rem;
}

hr {
    margin: 0;
    border: 1px solid black;
}

#about header {
    padding-top: calc(var(--nav-height) + 4 * var(--nav-padding));
}

section header {
    font-size: 1.55rem;
    font-weight: 700;
    width: fit-content;
    margin-block-end: 0.5em;
}

#hero {
    height: calc(100vh - var(--nav-height));
}

.project {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    margin-bottom: 1rem;
}

.project header {
    padding-top: 0.25rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.project-body {
    display: flex; 
    align-items: flex-start;
    padding-bottom: 1rem;
}

.project-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img, video {
    max-width: 45%; 
    height: auto;
}

#solon-img {
    object-fit: cover; 
    height: 350px; 
    width: 45%;
    object-position: top;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

footer a {
    padding: 0.5rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
    .project-body {
        flex-direction: column;
    }

    img, video {
        align-self: center;
        max-width: 100%;
    }

    #solon-img {
        width: 100%; 
        height: 100%;
    }
}

@media screen and (min-width: 550px) {
    #top-nav div {
        display: flex;
    }

    #bottom-nav {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    #top-nav div {
        display: none;
    }

    #bottom-nav {
        display: flex;
    }
}