html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: small;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
}

nav {
    top: 0;
    justify-content: space-between;
}

#bottom-nav {
    bottom: 0;
    justify-content: space-around;
}

nav, #bottom-nav {
    position: sticky;
    position: -webkit-sticky;
    padding: 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid gray;
    box-shadow: 0px 2px 5px gray;
    background-color: white;
    height: 5vh;
}

nav header {
    font-size: 2rem;
    font-weight: bold;
}

nav div span {
    font-size: 1rem;
    margin-right: 0.75rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover, header:hover {
    color: rgb(107, 107, 107);
    cursor: pointer;
}

section {
    width: 100%;
    height: 100vh;
}

section header {
    padding-top: calc(5vh + 2 * 0.75rem);
    font-size: 1.5rem;
    font-weight: 500;
}

#hero {
    height: 95vh;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

footer a {
    padding: 0.5rem;
    font-size: 1.5rem;
}

@media screen and (min-width: 550px) {
    nav div {
        display: flex;
    }

    #bottom-nav {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    nav div {
        display: none;
    }

    #bottom-nav {
        display: flex;
    }
}